/* @font-face
{
    font-family: 'Fredoka_one';
    src: url('fonts/FredokaOne-Regular.ttf');
} */
h1
{
    color: rgb(78, 114, 114);
    background-color: beige;
    font-family: Tajawal;
}
p
{
    text-transform: uppercase;
    line-height: 2.5em;
    letter-spacing: 1em;
}
a
{
    text-decoration: none;
    
}