.App {
  text-align: center;
}

.header
{
  
  position: fixed;
  top: 1.8vh;
  left: 2vw;
  right: 2vw;
  z-index: 1;
  margin: auto !important;
}

.app_form {
  padding: 10px;
  position: fixed !important;
  bottom: 20px;
  left: 2vw;
  right: 2vw;
  z-index: 1;
  background-color: rgb(245, 244, 244);
  width: 80vw;
  margin: auto !important;
  border-radius: 10px !important;
}

.app_formControl {
  display: flex !important;
  flex-direction: row !important;
  padding: 1vw !important;
  position: fixed;
}

.app_input {
  flex: 1;
}

.app_IconBtn {
  flex: 0;
}

.flipMove {
  width: 80vw;
  display: flex;
  flex-direction: column-reverse !important;
  margin: auto;
  margin-top: 28vh;
  background-color: rgb(210, 239, 240);
  border-radius: 12px;
  margin-bottom: 22vh;
  overflow-y: auto;
  height: 50vh;
}