/* img
{
    width: 600px;
} */
/* @media only screen and (max-width:400px)
{
    img
    {
        width: 200px;
    }
} */
.one,.two,.three
{
    /* border: 2px solid blueviolet; */
    
    
}
.main
{
    display: flex;
    align-items: flex-end;
    /* flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; */
    

}
.one
{
background-color: red;
}
.two
{
background-color: blue;
}
.three
{
background-color: yellow;
}