.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading
{
    display: flex;
    align-items: center;
}
h1
{
    padding: 5px;
    display: inline-block;
    background-color: white;
    justify-content: center;
    align-items: center;
}
body{
    background-color: green;
}